@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;

  .header {
    font-size: 1.5rem;
    margin-bottom: 32px;
  }

  .pokemon-team-display {
    margin-bottom: 32px;

    .grid {
      width: 80%;
      margin: auto;

      .pokemon-card {
        border-radius: 8px;
        border: 1px grey solid;
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .randomizer-panel {
    border: 1px grey solid;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin: auto;
    width: fit-content;
  }
}